@font-face {
  font-family: "onest";
  src: url("../public/fonts/Onest-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa9c;
  --dark: #363949;
  --dark--dk: #363949ad;
  --dark-light: #3639495c;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  color: var(--dark);
  font-family: "onest", "Roboto", sans-serif;
  overflow-x: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  padding: 40px 0;
  margin: 0 auto;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 20px;
}

.project {
  position: relative;
  width: 390px;
  height: 108px;
  /* border: 1px solid rgba(212, 212, 212, 0.153); */
  border: 1px solid var(--dark-light);
  border-radius: 8px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  /* color: rgba(255, 255, 255, 0.552); */
  color: var(--dark-grey);
}

.technologies {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  bottom: 10px;
  padding-right: 10px;
}

.technologie {
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 4px;
  /* background-color: rgba(195, 195, 195, 0.1); */
  background-color: var(--dark-grey);
  color: var(--dark);
  margin-right: 4px;
}

.stars {
  position: absolute;
  right: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.github-link {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
